@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*trendywear brand colors*/
  --red: #C1121F;
  --blue: #003049;
  --offwhite: #FDF0D5;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 
  --font-josefin: var(--font-josefin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--offwhite);
  color: var(--red);
  font-family: Arial, Helvetica, sans-serif;
}
